/* Sets Unversal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets element selector for all element types.

Sets background color.
*/
body {
    background-color: #d9dcd6;
}

/* Header Selector. Sets padding 20px, font-family, backgroud color. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets display to inline block and font-size 48px*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets color to span selector */
.header h1 .seo {
    color: #d9dcd6;
}

/* Sets padding-top 15px, margin-right 20px, float-right, font-family, font-size 20px to nav seletor */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Remove list style from ul child of nav */
.header nav ul {
    list-style-type: none;
}

/* Display li in inline-block and set a margin-left of 25px */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets color to anchor selectors, and no text-decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets a font-size to 16px */
p {
    font-size: 16px;
}

/* /* removed background-image for accessibility from HTML from class hero.
Sets a height to 800px, width: 100%, and a margin-bottom of 25px 
*/
.hero {
    height: 800px;
    width: 100%;
    /* background-image: url("../images/digital-marketing-meeting.jpg"); */
    margin-bottom: 25px;
}

/* Sets height and width to 100%, background-size, background-size and background-position */
.hero img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Sets float, margin-right to 25px */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets float, margin-left to 25px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets width to 75%, display to inline-block, and margin-left to 20px */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets margin-left 20px, padding 20px, clear, float, width 20px, height 100%, font-family, background-color*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets margin-bottom 32px, color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets margin-bottom 10px, and text-align to center*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets display to block, margin to 10px top and bottom and centred right and left, and max-width to 150px*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets margin-bottom to 20px, padding to 50px, height to 300px, font-family, background-color, color */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets max-height to 200px */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* Sets margin-bottom to 20px, font-size to 36px */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets padding to 30px, clear to both, font-family, text-align to center */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets font-size to 20px */
.footer h2 {
    font-size: 20px;
}
